bt-meeting-room {
    md-list-item {
        .md-button {
            md-progress-circular {
                position:absolute;
                left:16px;
                top:18px;
            }
        }
        md-progress-circular {
            position:absolute;
            left:16px;
            top:16px;
        }
    }
}